* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    width: 1920px;
    height: 1644px;
    font-size: 0px;
    text-align: center;
}

.product-row > div {
    display: inline-block;
}

.product-box {
    width: 480px;
    height: 769px;
    border: 1px solid black;
    position: relative;
}

.product-img {
    position: absolute;
    top: 13px;
    left: 16px;
}

.img1 {
    width: 448px;
    height: 669px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.img2 {
    width: 448px;
    height: 669px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.img1:hover {
    /* visibility: hidden; */
    display: none;
}

.like {
    width: 49px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 29px;
    left: 404px;
    z-index: 4;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
}

.product-tag {
    width: 152px;
    height: 44px;
    position: absolute;
    top: 605px;
    left: -6px;
    z-index: 3;
    font-size: 15px;
}

.product-tag div {
    display: inline-block;
}

.discount {
    width: 36.4px;
    height: 25px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 25px;
    margin: 10px 0px 0px 5.6px;
}

.other {
    width: 84px;
    height: 25px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 25px;
    margin: 10px 0px 0px 4.67px;
}

.product-info {
    width: 448px;
    height: 63px;
    position: absolute;
    top: 690px;
    left: 16px;
    font-size: 15px;
}

.product-info div {
    width: 424px;
    height: 14px;
    line-height: 14px;
}

.brand {
    margin: 7px 15px 0px 9px;
}

.name {
    margin: 4px 15px 4px 9px;
    font-weight: bold;
}

.price {
    color: red;
    margin: 0px 15px 9px 9px;
}

.price span {
    text-decoration: line-through;
    color: black;
}
